.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}
.sidenav-content {
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-direction: column;
  padding: 20px;
}
.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}
