<h1>Coptic Arabic Transliteration v.{{ version }}</h1>
<form class="example-form">
  <mat-form-field class="example-full-width">
    <mat-label>Coptic Text</mat-label>
    <textarea
      rows="10"
      matInput
      [(ngModel)]="copticText"
      [ngStyle]="{
        'font-family': 'CSAvaVeni-Regular',
        'font-size': 'x-large',
      }"
      name="coptic"
      (change)="onCopticInput()"
    ></textarea>
  </mat-form-field>
  <p>To</p>
  <mat-form-field class="example-full-width">
    <mat-label>Arabic Text</mat-label>
    <textarea
      dir="rtl"
      rows="10"
      matInput
      readonly
      [(ngModel)]="arabicText"
      [ngStyle]="{
        'font-size': 'x-large',
      }"
      name="arabic"
    ></textarea>
  </mat-form-field>
</form>
