/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
@font-face {
  font-family: "CS New Athanasius";
  src: url("assets/fonts/CS New Athanasius.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "CSAvaVeni-Regular";
  src: url("assets/fonts/CSAvaVeni-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Abraam";
  src: url("assets/fonts/Abraam.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Avva_Shenouda";
  src: url("assets/fonts/Avva_Shenouda.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
